{% load filter %}
<!DOCTYPE html>{% load static %}
<html>
  <head>
    <meta charset="UTF-8">
    <title>Инфляция в России</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
       {% block content %}
    <div class="container">
      <div class="row">
        <h1 class="col-md-12">Инфляция в России</h1>
        <div class="col-md-12" style="margin-top:20px;">
          <table>
            <tr>
              <th>Год</th>
              <th>Январь</th><th>Февраль</th><th>Март</th><th>Апрель</th><th>Май</th><th>Июнь</th><th>Июль</th>
              <th>Август</th><th>Сентябрь</th><th>Октябрь</th><th>Ноябрь</th><th>Декабрь</th>
              <th bgcolor=#999999>Всего</th>
            </tr>

            {% for row in rows %}
              <tr>
                {% for key, value in row.items %}
                  {% if key == 'Год' %}
                    <td bgcolor=#FFFFFF>{{ value }}</td>
                  {% elif key == 'Суммарная' %}
                    <td bgcolor=#999999>{{ value }}</td>
                  {% else %}
                    {% if value|to_float > 5 %}
                      <td bgcolor=#bb0000>{{ value }}</td>
                    {% elif value|to_float > 2 %}
                      <td bgcolor=#FF9999>{{ value }}</td>
                    {% elif value|to_float > 1 %}
                      <td bgcolor=#FFCCCC>{{ value }}</td>
                    {% elif value|to_float >= 0 %}
                      <td bgcolor=#FFFFFF>{{ value }}</td>
                    {% elif value|to_float >= -100 %}
                      <td bgcolor=#009900>{{ value }}</td>
                    {% else %}w
                      <td bgcolor=#FFFFFF>-</td>
                    {% endif %}
                  {% endif %}

                {% endfor %}
              </tr>
            {% endfor %}
          </table>

        </div>
      </div>
      </div>
    {% endblock %}

  </body>
</html>